*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    background: rgba( 12,12,12,.9);
    color: #fff;
}

/* Nav Bar Style */
.navCont{
    display: flex;
    width: 100%;
    height: 15%;
    min-height: 80px;
}
.navCont ul{
    display: flex;
    width: 60%;
    margin: auto;
    height: 75%;
    list-style: none;
}
.navCont ul a{
    width: calc(100%/3);
    height: 100%;
    display: flex;
    text-decoration: none;
    color: inherit;
    background: inherit;
    box-shadow: .3px .3px rgba(220, 217, 217, 0.2),-.3px -.3px rgba(220, 217, 217, 0.2);
}
.navCont ul a:hover {
   font-weight: 800;
    font-size: 1.15rem;
    
}

.navCont ul a p {
    display: flex;
    margin: auto; 
    height: auto;
    width: auto;
}

/* Intro Start */

.profileIntroCont{
    padding: 1%;
    width: 90%;
    height: 45%;
    display: flex;
    margin: 0% auto;
    margin-top: 5%;
    box-shadow: 1.4px 1.4px 2px rgba(18, 18, 18, 0.8),
    -1.4px -1.4px 2px rgba(18, 18, 18, 0.8);
}
.profileImageCont{
    width: 30%;
    height: 100%;
    display: flex;
}
.profileImageCont .profileImage{
    height: 90%;
    width: 90%;
    margin: auto;
    background-image: url('../assets/profile.jpg');
    background-size: cover;
    opacity: .95;
    background-repeat: no-repeat;
    background-position: 60%;
    background-position-y: 15%;
    box-shadow: 1.4px 1.4px 2px rgba(18, 18, 18, 0.8),
    -1.4px -1.4px 2px rgba(18, 18, 18, 0.8);
}
.profileDescCont{
    width: 80%;
    height: 100%;
}
.profileDesc{
    height: 80%;
    display: flex;
    width: 100%;
}
.profileDesc p{
    margin: 5%;
    font-size: .9rem;
}

.profileDesc span{
    font-weight: 900;
    color: green;
}
.profileDesc p a{
    text-decoration: none;
    color: green;
}
.profileDesc p a:hover{
    text-decoration: underline;
    
}

.techStacks{
    display: flex;
    height: 20%;
    /* width: 20%; */
    overflow-x: auto;
}
.techStacks img{
    height: 80%;
    border: none;
    width: calc(100%/16);
    /* box-shadow: .34px .34px rgba(220, 217, 217, 0.2),
    -.34px -.34px rgba(220, 217, 217, 0.2); */
    margin: auto;
    border-radius: 20%;
}

/* Intro End */


/* Projects Display */

.content{
    display: flex;
    flex-direction: column;
    
}
.projectsDisplay{
    margin-top: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40%;
}

.projectBox{
    box-shadow: 2.4px 2.4px 2px rgba(18, 18, 18, 0.8),
    -2.4px -2.4px 2px rgba(18, 18, 18, 0.8);
    /*  */
    height: 60%;
    width: 40%;
    margin: auto;
    background-position: center;
    background-size: 100%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    z-index: 200;
    animation: all 5s;
}
.projectInfo{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1%;
    height: 30%;
    width: 35%;
    margin-top: 20%;
    margin-left: 2.5%;
    background: rgba(2, 2, 2, .97);
    box-shadow: 1px 1px .8px rgba(220, 217, 217, 0.2),
    -1px -1px .8px rgba(220, 217, 217, 0.2);

}
.projectName{
    display: flex;
    height: 20%;
    width: 100%;
    box-shadow: 0px 1px rgba(220, 217, 217, 0.2);
}
.projectName p{
    display: flex;
    margin: auto auto;
    width: auto;
    height: auto;
    font-size: 1.2rem;
    font-weight: 700;
}

.projectDesc{
    display: flex;
    height: 60%;
    width: 100%;
    padding: 2%;
    text-align: left;
    font-size: .85rem;
    overflow-y: hidden;
    white-space: wrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.projectLinks{
    height: 20%;
    width: 30%;
    display: flex;
    margin: 0 auto;
}

.projectLinks a {
    height: 100%;
    
    width: 100%;
    margin: auto;
    display: flex;

}
.projectLinks img{
    width: 50%;
    height: 70%;
    background: rgb(229, 229, 229);
    margin: auto auto;
    border-radius: 10%;
}

.projectTechStacks{
    width: auto;
    height: 20%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
   
    
}
.projectTechStacks img{
    /* border: .1px solid rgba(220, 217, 217, 0.2); */
    background: rgba(84, 83, 83, 0.2);
    height: 80%;
    margin: auto;
    margin-right: 3%;
    min-width: calc(100%/5);
    border-radius: 15%;
}

/* Home projects Background */
.projectBox0{
    background-image: url('../assets/projects/reversed/reversed.png');
}
.projectBox1{
    background-image: url('../assets//projects/weSkate/weSkate.png');
}
.projectBox2{
    background-image: url('../assets/projects/connex/connex.png');
}
.projectBox3{
    background-image: url('../assets/projects/AiHub/aihub.png');
}


@media only screen and (min-width:800px){
    .profileIntroCont{
        height: 150%;
    }
    .projectsDisplay{
        margin-top: 3%;
    }
    .projectBox{
        margin-top: 10%;
        height: 170%;
    }
    .projectInfo{
        margin-top: 15%;
        height: 55%;
    }
    .profileDesc p {
        font-size: 1.9rem;
    }
    .projectInfo p {
        font-size: 1.5rem;
    }
    .content{
        margin-bottom: 50%;
    }
}

@media only screen and (max-width:450px){
    *{
        font-size: .5.5rem;
    }
    .navCont{
        height: 2%;
    }
    .navCont ul{
        display: flex;
        width: 60%;
        margin: auto;
        height: 50%;
    }
    .projectsDisplay{
        margin-top: 0;
        row-gap: 0%;
        height: 55%;
    }
    .profileIntroCont{
        height: 19%;
    }
    .projectsDisplay{
        margin-top: 0%;
    }
    .projectBox{
        margin-top: 10%;
        height: 30%;
    }
    .projectInfo{
        margin-top: 15%;
        height: 14%;
    }

    .projectInfo p {
        font-size: .48rem;
    }

}