<div class="profileIntroCont">
    <div class="profileImageCont">
        <div class="profileImage"></div>
    </div>
    <div class="profileDescCont">
        <div class="profileDesc">
            <p>Hi my name is Jonas Lekgau I'm an enthusiastic,
                dedicated and hard working self-taught 
                <span>WEB-SOFTWARE DEVELOPER</span>
            based in Johannesburg South Africa.<br>
            Have 5 years experience in tech from troubleshooting to operating systems.
            Posses a Professional Certificate in Google's IT Support.
            Welcome me into your company and my gratitude will portray in my code.
            Send me an <a href="mailto:jonaslekgau@gmail.com" type="email">Email</a> or
            Check out my <a href="https://webdev-profile.web.app/" type="email">Resume</a>.
            </p>
        </div>
        <div class="techStacks">
            <img src="static/assets/techStacks/js.png" alt="">
            <img src="static/assets/techStacks/css.png" alt="">
            <img src="static/assets/techStacks/node.png" alt="">
            <img src="static/assets/techStacks/php.png" alt="">
            <img src="static/assets/techStacks/mysql.png" alt="">
            <img src="static/assets/techStacks/react.png" alt="">
            <img src="static/assets/techStacks/python.png" alt="">
            <img src="static/assets/techStacks/flutter.png" alt="">
            <img src="static/assets/techStacks/mongo.png" alt="">
            <img src="static/assets/techStacks/git.png" alt="">
            <img src="static/assets/techStacks/firebase.png" alt="">
            <img src="static/assets/techStacks/c.png" alt="">
            <img src="static/assets/techStacks/figma.png" alt="">
            <img src="static/assets/techStacks/docker.png" alt="">
        </div>
    </div>
</div>
<!-- End of Profile -->
<div class="projectsDisplay">
    <!-- ProjectBox 1 -->
    <div class="projectBox projectBox0" >
        <div class="projectInfo">
            <div class="projectName">
                <p>REVERSED</p>
            </div>
            <div class="projectDesc">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                </p>
            </div>
            <div class="projectLinks">
                <a href=""><img src="./static/assets/techStacks/home.png" alt="live site" srcset=""></a>
                <a href=""><img src="./static/assets/techStacks/github.png" alt="live site" srcset=""></a>
            </div>

        <div class="projectTechStacks">
            <img src="./static/assets/techStacks/css.png" alt="">
            <img src="./static/assets/techStacks/js.png" alt="">
            <img src="./static/assets/techStacks/mysql.png" alt="">
            <img src="./static/assets/techStacks/php.png" alt="">
        </div>
        </div>
    </div>
    <!-- ProjectBox 2 -->
    <div class="projectBox projectBox1" >
        <div class="projectInfo">
            <div class="projectName">
                <p>WeSkate</p>
            </div>
            <div class="projectDesc" >
                <p>SPA Served in node with express and json for database read and writes.<br>
                    This was to mimic the e-commerce features with sign-up and sign-out.
                </p>
            </div>
            <div class="projectLinks">
                <a href=""><img src="./static/assets/techStacks/home.png" alt="live site" srcset=""></a>
                <a href=""><img src="./static/assets/techStacks/github.png" alt="live site" srcset=""></a>
            </div>

        <div class="projectTechStacks">
            <img src="./static/assets/techStacks/css.png" alt="">
            <img src="./static/assets/techStacks/js.png" alt="">
            <img src="./static/assets/techStacks/node.png" alt="">
        </div>
        </div>
    </div>
    <!-- Projects box 3 -->
    <div class="projectBox projectBox2">
        <div class="projectInfo">
            <div class="projectName">
                <p>Connex Clone</p>
            </div>
            <div class="projectDesc">
                <p>The site mimics the connex e-commerce site's landing page.<br>
                It only features the front-end part of the site with little to no functionality.
                </p>
            </div>
            <div class="projectLinks">
                <a href=""><img src="./static/assets/techStacks/home.png" alt="live site" srcset=""></a>
                <a href=""><img src="./static/assets/techStacks/github.png" alt="live site" srcset=""></a>
            </div>

        <div class="projectTechStacks">
            
            <img src="./static/assets/techStacks/css.png" alt="">
            <img src="./static/assets/techStacks/js.png" alt="">
            <!-- <img src="./static/assets/techStacks/mysql.png" alt="">
            <img src="./static/assets/techStacks/php.png" alt=""> -->
        </div>
        </div>
    </div>
    <!-- Project Box 4 -->

    <div class="projectBox projectBox3">
        <div class="projectInfo">
            <div class="projectName">
                <p>AI HUB</p>
            </div>
            <div class="projectDesc" >
                <p>Entry Level project written to drop in 
                    into the web development learnership
                    It portrays my favorite topic over three pages                    </p>
            </div>
            <div class="projectLinks">
                <a href=""><img src="./static/assets/techStacks/home.png" alt="live site" srcset=""></a>
                <a href=""><img src="./static/assets/techStacks/github.png" alt="live site" srcset=""></a>
            </div>

        <div class="projectTechStacks">
            
            <img src="./static/assets/techStacks/css.png" alt="">
            <img src="./static/assets/techStacks/js.png" alt="">
        </div>
        </div>
    </div>
</div>