

<div class="projects">
<div class="projectsDiv">
    <!-- Project Card 1 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div>
    <!-- Project Card 2 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div>
    <!-- Project Card 3 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div>
    <!-- Project Card 4 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div>
    <!-- Project Card 5 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div>
    <!-- Project Card 6 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div>
    <!-- Project Card 7 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div>
    <!-- Project Card 8 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div>
    <!-- Project Card 9 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div>
    <!-- Project Card 10 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div>
    <!-- Projeact Card 11 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div>
    <!-- Project Card 12-->
</div>
</div>