
<div class="projects">
<div class="projectsDiv">
    <!-- Project Card 1 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>REVERSED</p>
            </div>
            <div class="projectLayOut">
                <p>
                    This projects was started just when i started learning PHP 
                    and so i figured it would be a nice way to engage in the CRUD
                    features.<br>
                    It has a registration screen and a sign in screen as a single page
                    and only routes into the dashboard if sign in approves. In the dashboard
                    the page features a profile icon and on click the profile pops up allowing 
                    updating the details, log out and delete account.
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    
                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/css.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/js.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/php.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/mysql.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" id="projectCover0">
            <img src="../static/assets/projects/reversed/ReversedLogin.png" alt="" id="pcImg0">
            <div class="projectCoversBtns">
                
            <button title="" id="change_left0"><</button>
            <button title="" id="change_right0">></button>
        </div>
        </div>
    </div>
    <!-- Project Card 2 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>WeSkate SPA</p>
            </div>
            <div class="projectLayOut">
                <p>
                This is an assignment project where we had to create an e-commerce 
                like site with home,shop,about,contacts and events pages. <br>
                The site was served with node and uses express and json database 
                handling from the rest api uses js to authenticate the data and allows
                registration, login and logout.
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/css.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/js.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/node.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" id="projectCover1">
            <img src="../static//assets/projects/weSkate/weSkate.png" alt="">
            <div class="projectCoversBtns">
                
            <button title="" id="change_left1"><</button>
            <button title="" id="change_right1">></button>
        </div>
        </div>
    </div>
    <!-- Project Card 3 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>Connex Clone</p>
            </div>
            <div class="projectLayOut">
                <p>
                    This is a front end website clone of the connex store 
                    only features the landing page with own styling and and 
                    no frameworks.<br>
                    The site does feature some drop downs and hover effects but 
                    has the footer from a different site to enhance coding skills 
                    and integrations. 
                    All div and view editions are done in javascript again for 
                    knowledge purposes.
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/css.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/js.png" alt="" srcset=""></a>
                    
                </div>
            </div>
        </div>
        <div class="projectCover" id="projectCover2">
            <img src="../static/assets/projects/connex/connex.png" alt="">
            <div class="projectCoversBtns">
                
            <button title="" id="change_left2"><</button>
            <button title="" id="change_right2">></button>
        </div>
        </div>
    </div>
    <!-- Project Card 4 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>React-Native Mobile App.</p>
            </div>
            <div class="projectLayOut">
                <p>The App was built with Front-end functionality  for the app 
                    academy assessment as part of the route to acquire the 
                    mobile development certificate.
                <br>
                    It features a splash screen, sign-in,
                    sign up,and a dashboard screen the have 
                    a bottom navigation bar with category tiles 
                    with icons.
                    The App also features and email 
                    icon-button that allows for sending emails.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/css.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/js.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/react-native.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/node.png" alt="" srcset=""></a>
                    
                </div>
            </div>
        </div>
        <div class="projectCover" id="projectCover3">
            <img src="../static/assets/projects/reactNativeWD/react-native1.png" alt="">
            <div class="projectCoversBtns">
                
            <button title="" id="change_left3"><</button>
            <button title="" id="change_right3">></button>
        </div>
        </div>
    </div>
    <!-- Project Card 5 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>Flutter App (E-commerce)</p>
            </div>
            <div class="projectLayOut">
                <p>The App was build fo mimic the react app but with flutter and 
                    so it features more or less the same features with login,
                    registration screen and dashboard with category tiles and 
                    all tiles with an add to cart button to add the products to cart.
                    <br>
                    The e commerce broad way had in it a 
                    provider that supplies proper rendering 
                    of the products across multiple screens.
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/flutter.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" id="projectCover4">
            <img src="../static/assets/projects/flutterWD/flutter0.png" alt="">
            <div class="projectCoversBtns">
                
            <button title="" id="change_left4"><</button>
            <button title="" id="change_right4">></button>
        </div>
        </div>
    </div>
    <!-- Project Card 6 -->
    <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>React Profile Web App</p>
            </div>
            <div class="projectLayOut">
                <p>React based single page web application with a node server 
                    as a data provider.
                    <br>
                    The node server runs a rest api that provides json data using express. This was 
                    supposed to serve as my profile but then a different 
                    idea popped in.
                    <br>
                    Using react hooks ro provide data to the front-end and 
                    server the application could run as conjoined full-stack 
                    web application.
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <!-- <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a> -->

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/css.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/js.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/react.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/node.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" id="projectCover5">
            <img src="../static/assets/projects/reactProfile/reactProfile.png" alt="">
            <div class="projectCoversBtns">
                
            <button title="" id="change_left5"><</button>
            <button title="" id="change_right5">></button>
        </div>
        </div>
    </div>
    <!-- Project Card 7 -->
    <!-- <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a>

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div> -->
    <!-- Project Card 8 -->
    <!-- <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a>

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div> -->
    <!-- Project Card 9 -->
    <!-- <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div> -->
    <!-- Project Card 10 -->
    <!-- <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div> -->
    <!-- Projeact Card 11 -->
    <!-- <div class="projectCard">
        <div class="projectText">
            <div class="projectTitle">
                <p>FLUTTER</p>
            </div>
            <div class="projectLayOut">
                <p>PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                    PHP Served site using Xammp and an SQL database.<br/>
                    Site allows registering,signing in users, features 
                    updating user data deleting and logging out.
                
                </p>
            </div>
            <div class="projectLocal">
                <div class="projectSites">
                    <a href=""><img src="../static/assets/techStacks/github.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/home1.png" alt="" srcset=""></a>

                </div>
                <div class="proTechStacks">
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                    <a href=""><img src="../static/assets/techStacks/c.png" alt="" srcset=""></a>
                </div>
            </div>
        </div>
        <div class="projectCover" style="background-image: url('../static/assets/background.png');"></div>
    </div> -->
    <!-- Project Card 12-->
</div>
</div>
