*{

    margin: 0;
    padding: 0;
    background: rgba(15, 203, 245, 0.675);

}
body,html{
    height: 100%;
    width: 100%;
    display: flex;
}
.logoCover{
    margin: auto;
    height: 20%;
    width: 30%;
    background: rgba(90, 192, 235, 0.29);
    box-shadow: 1px 1px rgba(121, 219, 241, 0.549),-1px -1px rgba(121, 219, 241, 0.467);
}

.firstDiv {
    height: 25%;
    width: 100%;
    display: flex;
}
.secondDiv{
    height: 25%;
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.thirdDiv,.fourthDiv{
    height: 18%;
    width: 100%;
    display: flex;
}

.thirdDiv p ,.fourthDiv p {
    margin: auto;
    font-size: 1.8rem;
    letter-spacing: .3rem;
    font-weight: 800;
}
.fifthDiv p{
    font-size: 1rem;
    margin: auto;
}

.round1{ 
    margin: auto;
    height: 90%;
    width: 20%;
    border: 1px solid;
    box-shadow: inset 5px 3px rgb(45, 42, 42) ;
    border-radius: 90%;
}

.round2, .round3{
    margin: auto;
    height: 90%;
    width: 25%;
    border: 1px solid;
    box-shadow: inset 5px 3px rgb(45, 42, 42) ;
    border-radius: 90%;
}
.fifthDiv{
    display: flex;
    height:calc(100%-(100%/3.9));
    width: 100%;
}
